.main {
  display: flex;
}

label {
  font-size: 14px;
}

.card-container {
  height: 100%;
}

.left-container {
  width: 30%;
  height: 100vh;
  /* max-height: 768px; */
  background-image: url(https://firebasestorage.googleapis.com/v0/b/cinepolis-hosting.appspot.com/o/PayMethod%20Main%20Card%2Fbg-main-desktop.png?alt=media&token=d7b2b407-d781-437d-93f4-e8cc07c8e9d7);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-front {
  width: 400px;
  height: 240px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/cinepolis-hosting.appspot.com/o/PayMethod%20Main%20Card%2Fbg-card-front.png?alt=media&token=8ff01404-9fea-4eb5-9e09-5c3338c6fa4d);
  position: absolute;
  right: -100px;
  top: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 15px;
}

.top-card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.circle {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.circle-border {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
}

.bottom-card_number {
  display: flex;
  justify-content: center;
  color: var(--White);
  font-size: 24px;
  margin-bottom: 20px;
}

.bottom-card_number p {
  letter-spacing: 4px;
}

.bottom-card_info {
  display: flex;
  justify-content: space-between;
  color: var(--White);
  font-size: 12px;
}

.card-back {
  width: 400px;
  height: 240px;
  position: absolute;
  right: -180px;
  bottom: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/cinepolis-hosting.appspot.com/o/PayMethod%20Main%20Card%2Fbg-card-back.png?alt=media&token=7aeae0a8-a466-41c2-8e81-ea015a3ecd6e);
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 15px;
}

.card-back p {
  color: var(--White);
}

.right-container {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
}

.formulario .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group.cardInfo {
  display: flex;
  flex-direction: initial;
}

.form-group_date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
}

.form_group_date-dateInfo {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.form_group_date-dateInfo input {
  width: 50px;
}
.form-group_cvc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.cardInfo {
  display: flex;
}

.form-group .btnConfirm {
  margin-top: 20px;
}
.btnConfirm {
  cursor: pointer;
  background-color: var(--Very-dark-violet);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.confirmed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.confirmed-image {
  padding-bottom: 30px;
  width: 50px;
}

.confirmed-container h3 {
  color: var(--Very-dark-violet);
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.confirmed-container p {
  color: var(--Dark-grayish-violet);
  font-size: 14px;
}

.btnContinue {
  background-color: var(--Very-dark-violet);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

/* Manejo de errores */
.InvalidType p {
  color: red;
}

.error {
  border-color: red;
  color: red;
  font-size: 12px;
  /* display: block; */
}

.hide {
  display: none;
}

/* Media querys*/

@media screen and (max-width: 1080px) {
  .card-front {
    max-width: 400px;
    min-width: 200px;
    background-repeat: no-repeat;
    right: -140px;
  }
  .card-back {
    background-repeat: no-repeat;
    right: -140px;
  }
  .left-container {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .left-container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: round;
  }
  .right-container {
    /* height: 40%; */
    width: 100%;
  }

  .card-front {
    z-index: 2;
    top: 50%;
    right: 10%;
    height: 65%;
    background-repeat: no-repeat;
  }
  .card-back {
    position: absolute;
    left: 20%;
    bottom: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75%;
  }

  .bottom-card_number p {
    font-size: 24px;
  }
  .bottom-card_info {
    font-size: 10px;
  }

  .card-back p {
    font-size: 12px;
    margin-right: 20px;
  }

  .formulario {
    margin-top: 40px;
    width: 80%;
  }
}

@media screen and (max-width: 490px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .left-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 150px;
  }
  .right-container {
    /* height: 60%; */
    width: 100%;
  }

  .card-front {
    z-index: 2;
    top: 60%;
    right: 10%;
    width: 85%;
    height: 170px;
  }
  .card-back {
    position: absolute;
    left: 20%;
    bottom: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
  }

  .bottom-card_number p {
    font-size: 16px;
  }
  .bottom-card_info {
    font-size: 10px;
  }

  .card-back p {
    font-size: 12px;
    margin-right: 10px;
  }

  .formulario {
    margin-top: 100px;
    width: 80%;
  }

  .form-group_cvc {
    width: 50%;
  }

  .form-group_date {
    width: 14ch;
  }
}
